<a href="https://colab.research.google.com/github/kapiljaiswal311/Excel-/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 20
c = 1000

print(a)
print(b)
print(c)

kapil_age = 26
shubham_age = 26
kumudini_age = 45

print(kapil_age)

10
20
1000
26

In [ ]:
name = "coachx"
print (name)

coachx

In [ ]:
emp_id = [1,2,3,4,5,6,7,8,9,10]
print(emp_id)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
d1 = {

      "name":"kapil",
      "age":"26",
      "contact":"99885456",
      "location":"chh sambhajinagr",
      "empty":" "



}
print(d1)

{'name': 'kapil', 'age': '26', 'contact': '99885456', 'location': 'chh sambhajinagr', 'empty': ' '}

In [ ]:
t1 = (1,2,3,4,5,6,7,8)
print(t1)

t2 = ("shubham", 1,2,3,4,5,6, 'kapil', 2)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8)
('shubham', 1, 2, 3, 4, 5, 6, 'kapil', 2)

In [ ]:
s1 = {1,2,3,4,5,6,6,4,4,}
print(s1)

l1 = [1,1,1,2,2,3,]
print(l1)

{1, 2, 3, 4, 5, 6}
[1, 1, 1, 2, 2, 3]